<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>mongoDB tutorial</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <!-- quote list -->
  <h1>nQuote</h1>
  <ul class="quotes">
  <% for(var i=0; i<quotes.length; i++) {%>
    <li class="quote">
      <span><%= quotes[i].name %></span>
      <span><%= quotes[i].quote %></span>
    </li>
  <% } %>
  </ul>
  <!-- quote add -->
  <div class="quote_area">
    <h2>Add a quote</h2>
    <form action="/quotes" method="POST">
      <input type="text" placeholder="name" name="name">
      <input type="text" placeholder="quote" name="quote">
      <button type="submit">Submit</button>
    </form>
  </div>
  <!-- quote modify -->
  <div class="quote_area">
    <h2>Modify a quote</h2>
    <input type="text" placeholder="name" name="modifyname" class="modify_name">
    <input type="text" placeholder="quote" name="modifyquote" class="modify_quote">
    <button id="modify">Modify</button>
  </div>
  <!-- quote delete -->
  <div class="quote_area">
    <h2>Delete a quote</h2>
    <input type="text" placeholder="name" name="delname" class="del_name">
    <button id="delete">Delete</button>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="main.js"></script>
</body>
</html>